<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">

<div class="flex-container welcome">

    <div>
        <h1>Welcome, <%- name %>!</h1>
    </div>

    <div>
        <a class="btn btn-danger" href="/logout">Logout</a>
    </div>    

</div>

<section class="flex-container schedules-container">

    <div>
        <h1>Schedules</h1>
    </div>

    <div>
        <a class="btn btn-success" href='/schedule/create'>+</a>
    </div>

    <div class="container">

    </div>

</section>