<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/index.css">

<div class="flex-container">

    <div>
        <h1>Plan your </h1>
        <h1 id="animate-this">meetings.</h1>
    </div>
    <a href="/register" class="btn btn-info">Try now!</a>

</div>

<section class="features">
    
    <h1 class="mb-5">Features</h1>

    <div class="feature-grid-container">
        <div class="feature-grid">
            <div class="col feature-item">
                <i class="fas fa-business-time fa-5x mb-3"></i>
                <h3>Variable time slots</h3>
                <p>Pick a time slot that suits your needs</p>
            </div>
            <div class="col feature-item">
                <i class="fas fa-globe-americas fa-5x mb-3"></i>
                <h3>Timezone aware</h3>
                <p>Meeting with people in different time zones? No worries.</p>
            </div>
            <div class="col feature-item">
                <i class="fas fa-calendar-alt fa-5x mb-3"></i>
                <h3>Easy & Quick</h3>
                <p>A easy to use interface with no fuss.</p>
            </div>
            <div class="col feature-item">
                <i class="fas fa-calendar-alt fa-5x mb-3"></i>
                <h3>Multiple schedules</h3>
                <p>Have a different schedules? No worries you can have multiple!</p>
            </div>
        </div>
    </div>

</section>