<h1 class="mt-5 text-center">Profile</h1>

<div class="w-75" style="margin: auto;">
    <%- include ("./partials/messages") %>
</div>

<div class="mt-5 w-75" style="margin: auto;">
    <div class="row mt-2">
        <div class="col-2">
            <label for="name" style="line-height: 33px;">Name</label>
        </div>
        <div class="col-10">
            <input class="form-control" type="text" name="name" value="<%= username %>" disabled>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-2">
            <label for="email" style="line-height: 33px;">Email</label>
        </div>
        <div class="col-10">
            <input class="form-control" type="email" name="email" value="<%= email %>" disabled>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-2">
            <label for="timezone" style="line-height: 33px;">Timezone</label>
        </div>
        <div class="col-10">
            <input class="form-control" type="text" name="timezone" value="<%= timezone %>" disabled>
        </div>
    </div>
    <div class="text-right mt-3">
        <a class="btn btn-primary" href="/profile/edit">Edit</a>
    </div>
</div>