/* Main Text */
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 450px;
}

.flex-container div {
  margin-bottom: 40px;
}

.welcome {
    width: 95%;
    margin: auto;
    
    background-color: #bbb4b459;
}

.progress-bar-orange {
  background-color: orange !important;
}

.progress-bar-lightgray {
  background-color: lightgray !important;
}

.progress-bar-gray {
  background-color: gray !important;
}

.progress-bar-gray2 {
  background-color: rgb(80, 80, 80) !important;
}

.bg-custom-container {
  background-color: #d6d6d621;
}