
/* Main Text */
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 450px;
}

.flex-container div {
  margin-bottom: 40px;
}

/* Features Section */
.features {
  margin: auto;
  padding: 45px 30px 50px 30px;

  width: 85%;

  background-color: #bbb4b459;
}

/* A container for grid for features */
.feature-grid-container {
  width: 80%;
  margin: auto;
}

/* A grid for the features */
.feature-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features > h1 {
  text-align: center;
}
