.progress-bar-orange {
    background-color: orange !important;
}

.progress-bar-lightgray {
    background-color: lightgray !important;
}

.progress-bar-gray {
    background-color: gray !important;
}