{% macro flashAlert() %}        
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <section class="container py-2 px-5">
                {% for category, message in messages %}
                    {% if category == 'message' %}
                    <div class="alert alert-primary text-center alert-dismissible fade show mx-auto" role="alert">
                    {% else %}
                    <div class="alert alert-{{ category }} text-center alert-dismissible fade show mx-auto" role="alert">
                    {% endif %}
                    {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}
{% endmacro %}