{% extends "layout.html" %}

{% block title %}
    Calculate Free Time Slots
{% endblock %}

{% block calc %}
    active
{% endblock %}

{% from 'macros.html' import flashAlert %}

{% block main %}

    <h1>
        Enter the time slot codes below!
    </h1>

    {{ flashAlert() }}

    <form action="/main" method="POST">

        <div class="form-group">
            <button type="button" class="btn btn-info addField">+</button>
        </div>

        <div class="form-group" id="codes">
            <div class="input-group mb-3">
                <input type="text" class="form-control border codes" id="code-0" name="code-0" placeholder="Enter code..." required>
                <div class="input-group-append">
                    <button type="button" class="btn btn-danger btn-remove" onclick="shake(this)" style="opacity: 0.65;">-</button><br>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control border codes" id="code-1" name="code-1" placeholder="Enter code..." required>
                <div class="input-group-append">
                    <button type="button" class="btn btn-danger btn-remove" onclick="shake(this)" style="opacity: 0.65;">-</button><br>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="number" class="form-control border" name="duration" id="duration" placeholder="Duration" required>
        </div>
        
        <!--Storing number of fields-->
        <input type="number" name="length" id="length" value="2"  autocomplete="off" hidden>
        
        <button type="submit" id="submit" class="btn btn-primary">Calculate</button>
        
    </form>

    <script src="/static/js/dynamic-fields.js"></script>

{% endblock %}