.select2-container--default .select2-selection--single {
    border-radius: 0px;
    border: none !important;
    height: 45px;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0px;
    border: none !important;
    height: 45px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-family: inherit;
    letter-spacing: 0.25px;
    line-height: 1.5;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
    right: 12px;
}

.select2-dropdown {
    font-size: 0.875rem;
    font-family: inherit;
    letter-spacing: 0.25px;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.select2-results__option {
    padding: 0.75rem 1.5rem;
}

.select2-search--dropdown .select2-search__field {
    border-radius: none;
    border: 1px solid #ced4da;
    letter-spacing: 0.25px;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
}

.select2-container--default .select2-search--inline .select2-search__field {
    margin: 0;
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-family: inherit;
    letter-spacing: 0.25px;
    line-height: 1.5;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 12px;
    border-radius: 0;
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:first-child {
    margin-left: 24px;
}