{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Transacted</th>
      </tr>
    </thead>
    <tbody>
      <script>
        // Submits form and checks if passed object is an HTMLCollection
        function submitForm(name) {
          if (HTMLCollection.prototype.isPrototypeOf(name)) {
            name[0].submit();
          } else {
            name.submit();
          }
        }
      </script>
        {% for transaction in history %}
            <tr>
                <td>
                  <a class="badge badge-info" href="javascript:submitForm({{ transaction['symbol'] }})">{{ transaction["symbol"] }}</a>
                    <form id='{{ transaction["symbol"] }}' target="_blank" action='/quote' method='post'>
                        <input type="hidden" name="symbol" value="{{ transaction['symbol'] }}">
                    </form>
                </td>
                <td>{{ transaction["amount"] }}</td>
                <td>{{ transaction["price"] }}</td>
                <td>{{ transaction["timestamp"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
