{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<h1 class="display-4">Portfolio</h1>
<hr width="70%">
<table class="table table-striped" style="margin-top: 50px;">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">TOTAL</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <script>
            // Submits form and checks if passed object is an HTMLCollection
            function submitForm(name) {
                if (HTMLCollection.prototype.isPrototypeOf(name)) {
                    name[0].submit();
                } else {
                    name.submit();
                }
            }
        </script>
        {% for stock in stocks %}
            <tr>
                <td>
                    <a class="badge badge-info" href="javascript:submitForm({{ stock['symbol'] }})">{{ stock["symbol"] }}</a>
                    <form id='{{ stock["symbol"] }}' target="_blank" action='/quote' method='post'>
                        <input type="hidden" name="symbol" value="{{ stock['symbol'] }}">
                    </form>
                </td>
                <td>{{ stock["name"] }}</td>
                <td>{{ stock["count"] }}</td>
                <td>{{ stock["price"] | usd }}</td>
                <td>{{ (stock["price"] * stock["count"]) | usd }}</td>
                <td>
                    <button type="button" class="badge badge-pill badge-primary border-0" data-toggle="modal" data-target="#buy{{ stock['symbol'] }}Modal">
                        Buy
                    </button>
                    <button type="button" class="badge badge-pill badge-primary border-0" data-toggle="modal" data-target="#sell{{ stock['symbol'] }}Modal">
                        Sell
                    </button>
                </td>
            </tr>

            <!-- Buy Modal -->
            <div class="modal fade" id="buy{{ stock['symbol'] }}Modal" tabindex="-1" role="dialog" aria-labelledby="buy{{ stock['symbol'] }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="buy{{ stock['symbol'] }}ModalLabel">Buy {{ stock["name"] }} ({{ stock["symbol"] }}) stocks</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <form action="/buy" method="POST" class="m-form">
                            <div class="modal-body">
                                <input name="symbol" placeholder="Symbol" type="hidden" value="{{ stock['symbol'] }}">
                                <div class="form-group">
                                    <input class="form-control" name="shares" placeholder="Shares" type="number">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary m-button">
                                    <div style="display:none;"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
                                    <span>Buy</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Sell Modal -->
            <div class="modal fade" id="sell{{ stock['symbol'] }}Modal" tabindex="-1" role="dialog" aria-labelledby="sell{{ stock['symbol'] }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="sell{{ stock['symbol'] }}ModalLabel">Sell {{ stock["name"] }} ({{ stock["symbol"] }}) stocks</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <form action="/sell" method="POST" class="m-form">
                            <div class="modal-body">
                                <select name="symbol" class="d-none">
                                    <option value="{{ stock['symbol'] }}" selected>{{ stock["symbol"] }}</option>
                                </select>
                                <div class="form-group">
                                    Current Shares: {{ stock["count"] }}
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="shares" placeholder="Shares" type="number">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary m-button">
                                    <div style="display:none;"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
                                    <span>Sell</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ cash | usd }}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{ total | usd }}</b></td>
            <td></td>
        </tr>
    </tbody>
</table>

<br><br>
<h1 class="display-4">Starred</h1>
<hr width="70%">
<button type="button" class="btn btn-primary border-0" data-toggle="modal" data-target="#starModal">
    Add
</button>
{% if starred_stocks | length > 0 %}
<table class="table table-striped" style="margin-top: 50px;">
    <thead>
      <tr>
        {% for key in starred_stocks[0].keys() %}
            {% if not key in ["count", "star"] %}
                <th scope="col">{{ key | camelFormat }}</th>
            {% endif %}
        {% endfor%}
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <script>
            // Submits form and checks if passed object is an HTMLCollection
            function submitForm(name) {
                if (HTMLCollection.prototype.isPrototypeOf(name)) {
                    name[0].submit();
                } else {
                    name.submit();
                }
            }
        </script>
        {% for stock in starred_stocks %}
            <tr>
                <td>
                    <a class="badge badge-info" href="javascript:submitForm({{ stock['symbol'] }})">{{ stock["symbol"] }}</a>
                    <form id='{{ stock["symbol"] }}' target="_blank" action='/quote' method='post'>
                        <input type="hidden" name="symbol" value="{{ stock['symbol'] }}">
                    </form>
                </td>
                {% for key, value in stock.items() %}
                    {% if key in ["price", "previousClose", "marketCap", "week52High", "week52Low"] %}
                        <td>{{ value | usd }}</td>
                    {% elif key == "changePercent" %}
                        {% if value < 0 %}
                            <td><span class="badge badge-danger">{{ value }}%</span></td>
                        {% else %}
                            <td><span class="badge badge-success">{{ value }}%</span></td>
                        {% endif %}
                    {% elif key in ["symbol", "count", "star"] %}
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <form action="/" method="POST">
                        <button type="button" class="badge badge-pill badge-primary border-0" data-toggle="modal" data-target="#star-buy{{ stock['symbol'] }}Modal">
                            Buy
                        </button>
                        <input name="symbol" placeholder="Symbol" type="hidden" value="{{ stock['symbol'] }}">
                        <input name="action" placeholder="Symbol" type="hidden" value="remove">
                        <button type="submit" class="badge badge-pill badge-danger border-0">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>

            <!-- Buy Modal -->
            <div class="modal fade" id="star-buy{{ stock['symbol'] }}Modal" tabindex="-1" role="dialog" aria-labelledby="star-buy{{ stock['symbol'] }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="star-buy{{ stock['symbol'] }}ModalLabel">Buy {{ stock["name"] }} ({{ stock["symbol"] }}) stocks</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <form action="/buy" method="POST" class="m-form">
                            <div class="modal-body">
                                <input name="symbol" placeholder="Symbol" type="hidden" value="{{ stock['symbol'] }}">
                                <div class="form-group">
                                    <input class="form-control" name="shares" placeholder="Shares" type="number">
                                </div>
                            </div>
                            <span class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary m-button">
                                    <div style="display:none;"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
                                    <span>Buy</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </tbody>
</table>
{% endif %}


<!-- Add Starred Stock Modal -->
<div class="modal fade" id="starModal" tabindex="-1" role="dialog" aria-labelledby="starModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="starModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/" method="POST" class="m-form">
            <div class="modal-body">
                <div class="form-group">
                    <input name="action" placeholder="Symbol" type="hidden" value="add">
                    <input name="symbol" class="form-control" placeholder="Symbol" type="text">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary m-button">
                <div style="display:none;"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
                <span>Add</span>
            </button>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
